venv/*
*/venv/*
**/venv/*
*.pyc
sw[mnop]
__pycache__
*.out
websocket.txt
*.bin
filedowload*
.terraform
credentials*
*.tfstate*
websocket.txt
.certs
.certs*
.certs-self
mount/
jmeter.log
.fuse_hidden*
credentials.json
**/fields.csv
**/tables.json